/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  
  
}

.footer .container p {
  margin: 10px 0;
  text-align:center;
}

.mtop{
    margin-top: 10px;
}
.nw {
    white-space: nowrap;
}
.aw{
    width: auto;
}
.nav-tabs{
    margin-bottom: 20px;
}

.table .thumbnail{
    margin: 0;
}
.page-header {
    margin-top: 0;
    padding-bottom: 0;
}
.page-header h1 {
    margin-top: 0;
}

table.dataTable tbody tr {
    background: ;
}